.loader-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    transform: scale(3) !important;
}